*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
   background-color: #e41240;
   font-size: 15px;
  }
  header{
   
    text-align: center;
    height: 60px;
    color: white;
    background-color:  rgb(19, 88, 100);
    padding: 8px;
  }
  .question {
    padding: 20px;
    font-size: 22px;
    background:  rgb(19, 88, 100);
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color: #f6f6f6;
}

  
  .quiz-box{
    margin: 0 auto;
    max-width: 600px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    margin-top: 80px;
    box-shadow: 5px 5px rgb(19, 88, 100);
    position: relative;
  }
  
   .progress-section, .questions-form{
    padding: 5px;
  }
  
  
  .options{
    display: block;
    border: 1px solid #e0e0d1;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
  }
  .options:hover {
    background: rgb(19, 88, 100);
    color: #fff;
}
#nextButton:hover {
    background:  rgb(19, 88, 100);
    color: #fff;
}
 .submit-button{
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    margin: 0 auto;
    display: block;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
   
    width: 100%;
    height: 50px;
    background-color:  rgb(19, 88, 100);
    color: white;
    text-align: center;
  }

.footer p {
    font-size: 20px;
    margin: 20px 0 8px;
    
    }
.container {
    height: 330px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 8px 3px rgb(19, 88, 100);
    border-radius: 20px;
}
    
.result {
        height: 100px;
        text-align: center;
        font-size: 75px;
}


@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
   .quiz-box{
      margin: 40px;
      
    }

    .container {
      
      width: 500px;
     
  }
}